<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="/">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">gallery creator thing</h3>
</div>

<div class="jumbotron">
    <div droppable>
      <h1>Drop images here</h1>
      <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"/><br>

      </p>

      <div ng-hide="images.length">
          <p>This tool creates thumbnails of your images and creates a <code>images.json</code> file
          containing their filenames and sizes.</p>
          <p>
              This <em>app</em> has one setting, the maximum height of the thumbnails to be generated.
              The widths depend entirely on the input images - the aspect ratios are maintained.
          </p>
          <label>Max size of thumbnails in pixels: <input type="number" ng-model="maxHeight"/></label>


      </div>

      <div ng-show="images.length">
          <h3>
              {{images.length}} images loaded
          </h3>

          <div ng-hide="processing">
              <ul>
                  <li>You can continue to add more images.</li>
                  <li>The filename gets used for the thumbnail's name.</li>
                  <li>Please <strong>check</strong> all the image captions carefully...</li>
              </ul>
              <a class="btn btn-lg btn-success btn-block" ng-click="processImages()">
                  All done? Splendid! I'll Zip em up for you
              </a>
          </div>

          <div ng-show="processing" class="btn-group">
              <a class="btn btn-default" ng-init="showHide=false;" ng-click="showHide=!showHide">
                  Show the <code>images.json</code> data
              </a>

              <a ng-show="download.show" class="btn btn-danger " ng-click="download()" download="gallery.zip">Download ZIP file</a>

          </div>
      </div>


    </div>
</div>

<div class="" ng-hide="images.length">
    <img class="img-polaroid" ph-img="{{(maxHeight)}}x{{maxHeight}}" />
</div>


<div ng-show="showHide" class="row marketing">
    <h2><code>images.json</code> output:</h2>


    <pre ng-bind="imageData"></pre>

</div>


<div ng-hide="processing" class="row marketing">
  <ul ui-sortable ng-model="images">
  <li class="" ng-repeat="image in images track by image.filename">
      <h4>{{$index + 1}}: <span ng-bind="image.filename"></span></h4>
      <div class="row" ng-init="image.id = $index + 1">
          <div class="col-sm-4">
              <img class="img-responsive" ng-src="{{image.thumbnail.src}}"/>
          </div>

          <div class="col-sm-8">
              <div class="form-group">
                  <label>Filename </label><input class="form-control" type="text" ng-model="image.filename"/>
              </div>


              <div class="form-group">
                  <label>Caption:</label>
                  <textarea class="form-control" rows="2" ng-model="image.title"></textarea>
              </div>

              <h4>Generated Thumbnail:</h4>
              <p>
                  {{image.thumbnail.width}} x {{image.thumbnail.height}}
                  Ratio: {{image.thumbnail.width / image.thumbnail.height |number:2 }}
              </p>

          </div>
      </div>

  </li>
  </ul>

</div>

<div class="footer">
  <p>Hardbyte Technology 2014 <a href="https://twitter.com/thorneynz">@thorneynz</a></p>
</div>
